button:hover, a:hover {
  opacity: 0.7; }

img {
  max-width: 100%;
  height: auto; }

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 5%; }

.title {
  color: grey;
  font-size: 18px; }

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin: 0px; }

a {
  text-decoration: none;
  font-size: 22px;
  color: black; }

.social-item {
  display: inline-block;
  margin: 5px; }
  .social-item.skype {
    color: #00aff0; }
  .social-item.twitter {
    color: #1da1f2; }
  .social-item.linkedin {
    color: #0077b5; }
  .social-item.facebook {
    color: #3b5998; }
  .social-item.github {
    color: #4078c0; }
  .social-item.gitlab {
    color: #fc6d26; }
  .social-item.paypal {
    color: #003087; }

/*# sourceMappingURL=style.css.map */
